<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand">Library Website</a>
        <div class="mx-auto" style="width: 40%;">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
        
        <form class="d-flex">
            <button class="btn btn-light" type="signUp">Sign Up</button>
            <button class="btn btn-light" type="logIn">Log In</button>
        </form>
    </div>
</nav>