<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<%- include('partials/navbar.ejs') %>

    <body>
        <div class="container-fluid">
            <h1 class="display-4 text-center">Add A Book</h1>
            <div class="row">
                <div class="col-sm-4 offset-sm-4 text-center">
                    <form action="/addBookForm" method="post" class="form-inline justify-content-center">
                        <div class="mb-3">
                            <label for="name" class="form-label">Enter The Book Name</label>
                            <input type="text" id="name" placeholder="name" name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Enter the Book Status (Available/Non
                                Available)</label>
                            <br>
                            <input type="text" id="status" placeholder="status" name="status" class="form-control">
                        </div>
                        <button class="btn btn-primary">Publish</button>
                        <a href="/" class="btn btn-warning">Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>