<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<%- include('partials/navbar.ejs') %>

    <body style="background-color:rgb(204, 208, 211)">
        <div class="container-fluid">
            <div class="align-self-center"
                style="background-color:rgb(255, 255, 255); width:50%; margin:100px auto; border-radius:10px; vertical-align: middle; padding-bottom: 5%; ">
                <h1 class="display-5 text-center" style="background-color:rgb(255, 255, 255); border-radius: 10px;">
                    Admin Login</h1>
                <div class="col-sm-4 offset-sm-4 text-center">
                    <form action="/api/adminLogin" method="post" class="form-inline justify-content-center">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" id="email" placeholder="Email" name="email" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" id="username" placeholder="Username" name="username" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <br>
                            <input type="password" id="password" placeholder="Password" name="password"
                                class="form-control" required>
                        </div>
                        <button class="btn btn-primary">Login</button>
                        <a href="/" class="btn btn-warning">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>