<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged in as Admin</title>
</head>
<%- include('partials/loggedInNavbar.ejs') %>
    <div class="container-fluid">
        <h2 class="display-4 text-center">Modify Library</h2>
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">

                <body>
                    <a href="/addBookForm" class="btn btn-primary"
                        style="width:100%; margin-top:20px; margin-bottom:20px;">Add Book</a>
                    <a href="/updateBookForm" class="btn btn-primary"
                        style="width:100%; margin-top:20px; margin-bottom:20px;">Edit
                        Book Details</a>
                    <a href="/deleteBookForm" class="btn btn-primary"
                        style="width:100%; margin-top:20px; margin-bottom:20px;">Delete
                        Book</a>
                </body>
            </div>
        </div>
    </div>

</html>