<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<%- include('partials/navbar.ejs') %>

    <body>
        <div class="container-fluid">
            <h2 class="display-6 text-center">Try Resizing This</h2>
            <div class="row">
                <div class="col-3 bg-dark text-light">
                    Here we can have a menu of options, it can have features such as a genre selector, buttons to find
                    top
                    rated books, and buttons
                    to add a book if the account type is an admin.
                </div>
                <div class=" col-9">
                    Here we can have the all the books for example. You can nest this further so this section can have
                    4x4
                    sections of books, for example:
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-warning">
                            Here we can have the first book for example.
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-success">
                            Here we can have the second book, for example.
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-secondary">
                            Here we can have the third book, for example.
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bg-info">
                            Here we can have the fourth book, for example.
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:1000px"></div>
        </div>
    </body>

</html>