<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<%- include('partials/navbar.ejs') %>

    <body>
        <div class="container-fluid">
            <h2 class="display-6 text-center" style="padding-top:20px; padding-bottom:20px;">Welcome To The SENG401
                Library!</h2>
            <div class=" row">
                <div class="col-4 text-dark text-center">
                    <a href="/addBookForm" class="btn btn-primary" style="width:100%">Add Book</a>
                    <h3>Top Rated Books</h3>
                </div>
                <div class=" col-8">
                    <div class="row">
                        <% for (let b of books) { %>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="card" style="height:100%;">
                                    <img class="card-img-top"
                                        src="https://i.fbcd.co/products/resized/resized-750-500/ae2d64e634f5beaa6f0e867d529ece28f0504e9e24fc4d5e0d6fd21f0a05df7f.jpg"
                                        alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= b.Name %>
                                        </h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                Status: <%= b.Status %>
                                            </li>
                                        </ul>
                                        <a href="/" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>