<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Successful</title>
</head>
<%- include('partials/navbar.ejs') %>
<body>
    <div style="padding: 2% 20% 0 20%;">
        <h1>Book was successfully added to your reservations</h1>
    </div>
</body>
</html>