<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Book</title>
</head>
<%- include('partials/adminLoggedInNavbar.ejs') %>

    <body>
        <div class="container-fluid">
            <h1 class="display-4 text-center">Update A Book</h1>
            <div class="row">
                <div class="col-sm-4 offset-sm-4 text-center">
                    <form action="/updateBookForm?_method=PATCH" method="post"
                        class="form-inline justify-content-center">
                        <div class="mb-3">
                            <label for="books" class="form-label">Select the book you wish to update ...</label>
                            <select id="name" placeholder="name" name="name" class="form-control">
                                <% for (let b of books) { %>
                                    <option value="<%= b.Name %>">
                                        <%= b.Name %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Enter the New Book Status (Available/Non
                                Available)</label>
                            <br>
                            <input type="text" id="status" placeholder="status" name="status" class="form-control">
                        </div>
                        <button class="btn btn-primary">Update Book</button>
                        <a href="/admin" class="btn btn-warning">Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>